.App {
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.addInformation,
.alignLeft {
  text-align: left;
}

.buttonBack {
  border: 0;
}

.mainLink {
  color: white;
  margin-left: 20px;
}

.languages {
  display: flex;
  color: white;
  margin-right: 10px;
}

.active__language {
  color: blue;
}

.language {
  cursor: pointer;
}

.languages__separator {
  margin-left: 5px;
  margin-right: 5px;
}

.actors__list {
  display: flex;
  flex-wrap: wrap;
}

.actor__li {
  width: 102px;
  height: auto;
  margin-right: 10px;
  margin-bottom: 10px;
  list-style-type: none;
  border: solid 1px grey;
  border-radius: 13px;
  text-align: center;
}

.actor__img {
  border-radius: 13px 13px 0 0;
}
